<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hajland"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
    	android:name="com.mobeelizer.mobile.android.Mobeelizer"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EquipmentPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PlacesPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EmpolyeesPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ConflictsPage"
            android:label="@string/app_name" >
        </activity>
        
        <meta-data android:name="MOBEELIZER_MODE" android:value="test" />
		<meta-data android:name="MOBEELIZER_PACKAGE" android:value="com.hajland.models" />
		<meta-data android:name="MOBEELIZER_DEVICE" android:value="mobile" />
    </application>

</manifest>